{% extends "base.html" %} {% block content %}
<h1 style="margin-left: 50px">Sign In</h1>
<form action="" method="post" novalidate style="max-width: 500px; margin-left: 50px">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">
      {{ form.username.label }}
    </label> {{ form.username(class_="form-control", id="exampleFormControlInput1", placeholder="Username") }} {% for error in form.username.errors %}

        <span style="color: red">[{{error}}]</span> {% endfor %}
    </div>
    <!-- <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
        </div>
    </div> -->
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">{{ form.password.label }}</label
    >

    {{ form.password(class_="form-control", id="exampleInputPassword1",
    placeholder="Enter Password") }} {% for error in form.password.errors %}
    <span style="color: red">[{{error}}]</span>
    {% endfor %}
  </div>
  <div class="mb-3 form-check">
    {{ form.remember_me(class_="form-check-input", id="exampleCheck1") }}
    <label class="form-check-label" for="exampleCheck1"
      >{{ form.remember_me.label }}</label
    >
  </div>

  {{ form.submit(class_="btn btn-primary") }}
</form>

{% endblock %}